<div class="card custom-card" style="width: 18rem;">
    <img src="/assets/pxfuel (1).jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ICTAK Website</h5>
      <p class="card-text">Click to explore the wide range of courses and certifications you can achieve with us at ICTAK, a joint initiative by the Tech giants and the Government of Kerala</p>
      <a href="https://ictkerala.org/" class="btn btn-primary">Click Here</a>
    </div>
  </div>
  
  <div id="card1" class="card custom-card" style="width: 18rem;">
    <img src="/assets/banner4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DWMS Kerala</h5>
      <p class="card-text">Register here for more exciting scholarship oppertunities from Kerala Government in the IT field,we provide daily data on vacancies avalable,interships,etc.</p>
      <a href="https://knowledgemission.kerala.gov.in/index.jsp" class="btn btn-primary">Click Here</a>
    </div>
  </div>
  <div class="learner-tracker">
    <h3 class="tracker-title">ICTAK Learner Tracker</h3>
    <p class="tracker-description">ICTAK (Information &amp; Communication Technology Academy of Kerala) learner tracker app is designed to help learners keep track of their progress and achievements in various courses and certifications offered by ICTAK. ICTAK is a joint initiative by the government of Kerala and leading tech giants in the industry.</p>
  </div>
  