<app-navigation></app-navigation>

<div class="registration-form">
    <form>
        <div class="form-group">
            <input type="text" class="form-control item" id="username" placeholder="Learner ID">
        </div>
        <div class="form-group">
            <input type="password" class="form-control item" id="password" placeholder="Name">
        </div>
        <div class="form-group">
            <!-- <input type="text" class="form-control item" id="email" placeholder="Email"> -->
            <select id="disabledSelect" class="form-control item">
                <option>FSD</option>
                <option>DSA</option>
                <option>ML-AI</option>
                <option>RPA</option>
                <option>ST</option>
                <option>CSA</option>
              </select>
        </div>
        <div class="form-group">
            <!-- <input type="text" class="form-control item" id="phone-number" placeholder="Phone Number"> -->
            <select id="disabledSelect" class="form-select item">
                <option>ICTAK</option>
                <option>KKEM</option>
                <option>NORKA</option>
                <option>ABCD</option>
                <option>KDISC</option>
              </select>
        </div>
        <div class="form-group">
            <!-- <input type="text" class="form-control item" id="birth-date" placeholder="Birth Date"> -->
            <select id="disabledSelect" class="form-select item">
                <option>May 22</option>
                <option>Jun 22</option>
                <option>Jul 22</option>
                <option>Aug 22</option>
                <option>Dec 22</option>
                <option>Mar 23</option>
              </select>
        </div>
        <div class="form-group">
            <!-- <input type="password" class="form-control item" id="password" placeholder="Name"> -->
            <select id="disabledSelect" class="form-select item">
                <option>Qualified</option>
                <option>Incompetent</option>
            </select>
        </div>
        <div class="form-group">
            <!-- <input type="password" class="form-control item" id="password" placeholder="Name"> -->
            <select id="disabledSelect" class="form-select item">
                <option>Placed</option>
                <option>Job Seeking</option>
                <option>Not Interested</option>
              </select>
        </div>
        <div class="form-group d-flex justify-content-evenly">
            <button type="button" class="btn btn-block update-account">Update</button>
            <button routerLink="/viewstuds" class="btn btn-block cancel-account">Cancel</button>
        </div>
    </form>
</div>

