   #navbar{
    height: 60px;
   }
  .btn-primary {
    background-color: white; /* White background */
    color: #007bff; /* Blue tint for text */
    border: 1px solid #007bff; /* Blue tint for the border */
    margin-left: 1100px;
  }
  
  .btn-primary:hover {
    background-color: #007bff; /* Blue tint on hover */
    color: white; /* Text color on hover */
  }
  
  .btn-danger {
    background-color: #dc3545; /* Red tint for logout button */
    border: 1px solid #dc3545; /* Red tint for the border */
    margin-left: 1100px;
  }
  
  .btn-danger:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  
  /* Add some padding to the navbar */
  .navbar-nav {
    padding-right: 10px;
  }
 
  #logo{
    height: 50px;
    margin-left: -70px;
  }