<!-- Notification -->
<div class="card text-center bg-primary-subtle">
    <marquee behavior="scroll" direction="left" onMouseOver="this.stop()" onMouseOut="this.start()"><a href="">Notifications can be passed here !</a></marquee>
</div>

<!-- Side bar -->
<div class="wrapper">
    <nav #sidebar id="sidebar" [ngClass]="{'active': isSidebarActive}">
        <div class="sidebar-header">
            <h3>ICTAK Learner Tracker</h3>
        </div>
        <ul class="list-unstyled components">
            <!-- add home component *** -->
            <a routerLink="/home"><p><i class="bi bi-house"></i> Home</p></a> 
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-person-lock"></i> Admin Panel</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a (click)="loadAddUser()"><i class="bi bi-person-plus"></i> Add User</a>
                    </li>
                    <li>
                        <a (click)="loadViewUser()"><i class="bi bi-person-badge"></i> View Users</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-people-fill"></i> Student Panel</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a routerLink="/addstuds"><i class="bi bi-person-plus"></i> Add Students</a>
                    </li>
                    <li>
                        <a routerLink="/viewstuds"><i class="bi bi-person-badge"></i> View Students</a>
                    </li>
                    <li>
                        <a routerLink="/csv"><i class="bi bi-file-earmark-arrow-up-fill"></i> CSV-upload</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" routerLink="/passchange"><i class="bi bi-gear"></i> Change Password</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <button class="button-89" (click)="logout()" role="button"><i class="bi bi-box-arrow-left"></i> Logout</button>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button (click)="toggleSidebar()" type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span> Menu</span>
                </button>
            </div>
        </nav>
        <ng-container *ngIf="isAddUserActive">
            <app-adduser></app-adduser>
        </ng-container>
        <ng-container *ngIf="isViewUserActive">
            <app-view-user></app-view-user>
        </ng-container>




        <!-- <div class="row d-flex justify-content-evenly">
            <div class="col">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img class="card-img-top" src="assets/banner4.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ICTAK Paatshala</h5>
                    <p class="card-text">ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala.</p>
                    <a href="https://retail.ictkerala.org/" class="btn btn-primary">Go To Paatshala</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img class="card-img-top" src="assets/download - Copy.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Digital Workforce Management System</h5>
                    <p class="card-text">A Kerala Development and Innovation Strategic Council (K-DISC) initiative, Kerala Knowledge Economy Mission (KKEM)</p>
                    <a href="https://knowledgemission.kerala.gov.in/" class="btn btn-primary">Go To DWMS</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>