
<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <h3>Login Here</h3>

    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email" id="username" name="email" required [(ngModel)]="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required [(ngModel)]="password">

    <button id="submit" type="submit" class="btn btn-primary">Log In</button>
  </form>
</body>


